html{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: black;
  color: white;
}

h1 {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid white;
  font-size: 70px;
  margin: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  float: none;
}

h1:hover {
  -webkit-text-shadow: 0 0 10px white;
  text-shadow: 0 0 10px white;
}

.auswahl {
  height: 300px;
  display: none;
  border-bottom: 2px solid white;
}

body {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
}

.karachel {
  width: 200px;
  height: 200px;
  border: 2px solid white;
  -webkit-box-shadow: 0 0 5px white;
  box-shadow: 0 0 5px white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: black;
  float: left;
  margin: 50px;
  padding: 0;
}

.karachel:hover {
  -webkit-box-shadow: 0 0 50px white;
  box-shadow: 0 0 50px white;
}

#cubes {
  position: relative;
  width: 90%;
  height: 90%;
  margin-left: 12.5%;
  margin-top: 12.5%;
}

.cube {
  width: 12.5%;
  height: 12.5%;
  background: white;
  margin: 6.75%;
  float: left;
}

#uhr {
  position: relative;
  width: 80%;
  height: 80%;
  margin-left: 10%;
  margin-top: 10%;
  border: 2px solid white;
  border-radius: 100%;
}

.zeiger {
  height: 70px;
  width: 5px;
  margin-left: -2.5px;
  margin-top: -70px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
}

.zeigerRot {
  width: 100%;
  height: 100%;
  transform: rotate(40deg);
}

#kreisding {
  width: 100px;
  height: 100px;
  margin-left: 45px;
  margin-top: 45px;
  border: 5px solid white;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0.88),20px 20px 0 rgba(255, 255, 255, 0.8);
  box-shadow: 10px 10px 0 rgba(255, 255, 255, 0.88),20px 20px 0 rgba(255, 255, 255, 0.8);
}
