@font-face {
  font-family: Cabin;
  src: url("../schriftarten/Cabin/Cabin-Regular.ttf");
}

html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Cabin;
}

body {
  background-image: url("../bilder/lichtspiel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  z-index: 1;
}

#Background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(#F8B195,#F67280,#C06C84,#6C5B7B,#355C7D);
  z-index: -1;
}

#Background div {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../bilder/nois.png");
  opacity: 0.1;
}

.page {
  margin: 0;
  padding: 0;
  width: 80%;
  height: 100%;
  overflow: auto;
  text-align: center;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.65);
}

#hauptseite #haupt_ueberschrift_box {
  position: relative;
  margin-top: 10%;
  left: 10%;
  height: 140px;
  width: 80%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  overflow: hidden;
}

#hauptseite .haupt_ueberschrift {
  position: absolute;
  top: 26px;
  font-size: 70px;
  margin: 0;
}

#hauptseite ul {
  list-style: none;
  margin-top: 10%;
}

#hauptseite ul li{
  float: left;
  width: 45%;
  font-size: 30px;
}

#hauptseite ul li a{
  color: black;
  text-decoration: none;
}

#hauptseite ul li a img{
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#hauptseite ul li a:hover img{
  margin-top: 0px;
  margin-bottom: 0px;
}

.rotateIN {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  transform:rotateX(0deg) translateZ(90px);
}

.rotateOut {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  transform:rotateX(-90deg) translateZ(90px);
}

.rotadeHidden {
  transform: rotateX(90deg) translateZ(90px);
}

.ueberschrift {
  width: 100%;
  text-align: center;
  text-decoration: underline;
  font-size: 50px;
  padding-top: 30px;
}

footer {
  padding-top: 1%;
  padding-bottom: 1%;
  border-top: 2px solid black;
  color: white;
  width: 100%;
  text-align: center;
  z-index: 10;
}
