.page a{
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.page a:hover {
  color: rgb(96, 96, 96);
}

.page .page_box {
  width: 90%;
  margin: 0;
  margin-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}

.page .page_box_line {
  border-bottom: 3px solid black;
  width: 80%;
  margin-left: 10%;
  display: inline-block;
}

.page ul{
  margin: 0;
  list-style: none;
}

.page div {
  display: inline-block;
}
